<div class="page-content">
    <div class="page-header">
        <h1>
            学员管理
            <small>
                <i class="icon-double-angle-right"></i>
                学员列表
            </small>
        </h1>
    </div>
    <div style="margin-bottom:10px;">
        <form class="form-search">
            <span class="input-icon align-middle">
                <!--<i class="icon-search"></i>-->
                <input type="text" class="search-query" placeholder="学员姓名" ng-model="searchstudent"style="font-size:13px;height:30px;">
                <!--<i class="icon-remove" style="left:158px;" ng-click="clear()" ng-show="searchUser!=''&&searchUser!=null"></i>-->
            </span>
            <span>
                <select ng-model="signPoint" style="width:185px;">
                    <option value="">请选择报名点</option>
                    <option value="普通">桂林</option>
                    <option value="管理员">深圳</option>
                    <option value="管理员">广州</option>
                </select>
            </span>
            <span>
                <select ng-model="isTuition" style="width:185px;">
                    <option value="">是否已交学费</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </span>
            <span>
                <select ng-model="state" style="width:185px;">
                    <option value="">状态</option>
                    <option value="true">全部通过</option>
                    <option value="false">至少有一科没有通过</option>
                </select>
            </span>
            <span>
                <select ng-model="signType" style="width:185px;">
                    <option value="">报考类型</option>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                    <option value="C4">C4</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="P">P</option>
                </select>
            </span>
            <span class="input-icon align-middle">
                <input type="text" class="search-query" placeholder="登记人员" ng-model="registerUser" style="font-size:13px;height:30px;">
            </span>
            <button class="btn btn-sm" onclick="return false;" style="height:28px;" ng-click="select()">查询</button>
        </form>
    </div>

    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>学员姓名</th>
                <th>性别</th>
                <th>电话号码</th>
                <th>报名点</th>
                <th>是否已交学费</th>
                <th>报考类型</th>
                <th>状态</th>
                <th class="hidden-480">报名时间</th>
                <th class="hidden-480">操作</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in studentlist">
                <td class="center">{{$index+1}}</td>
                <td>
                    <a href="#">{{item.Name}}</a>
                </td>
                <td>{{item.Sex}}</td>
                <td class="hidden-480">{{item.Phone}}</td>
                <td>{{item.SignPoint}}</td>
                <td>
                    <a href="#">{{item.IsTuition}}</a>
                </td>
                <td>{{item.SignDriving}}</td>
                <td class="hidden-480">{{item.SignDate}}</td>
                <td>{{item.State}}</td>
                <td>
                    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                        <button class="blue btn btn-xs btn-warning">
                            <i class="icon-zoom-in bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-info" ng-click="editpage(item.user_Id)">
                            <i class="icon-edit bigger-120"></i>
                        </button>

                        <button class="btn btn-xs btn-danger" ng-click="_deleteuser(item.user_Name)">
                            <i class="icon-trash bigger-120"></i>
                        </button>
                    </div>


                </td>
            </tr>
        </tbody>
    </table>
</div>