<div id="home-work">
    <button class="btn btn-lg btn-success" onclick="window.open('/studentadd')">学员报名</button>
    <button class="btn btn-lg btn-pink" onclick="window.open('/student_Physical_Tuition')">学员缴费</button>
    <button class="btn btn-purple btn-lg" onclick="window.open('/study')">安排学车</button>
    <button class="btn btn-warning btn-lg" onclick="window.open('/addtest')">安排考试</button>
    <button class="btn btn-grey btn-lg" onclick="window.open('/testlist')">成绩查询</button>
    <button class="btn btn-info btn-lg" onclick="window.open('/driving_list')">学员领证</button>
</div>


<!--<section id="editor">
    <div id='edit' style="margin-top: 30px;">
  </div>
</section>-->

<div id="container"></div>
