
<div class="page-content">
    <div class="page-header">
        <h1>
            学员管理
            <small>
                <i class="icon-double-angle-right"></i>
                学员报名
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" id="studentAdd" novalidate="novalidate" action="" method="get">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名： </label>

                    <div class="col-sm-9">
                        <input type="text" ng-model="studentData.Name" placeholder="姓名" name="Name" class="col-xs-10 col-sm-5" required>
                    </div>
                </div>

                <div class="space-4"></div>

                <!--<div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 性别： </label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="studentData.Sex" placeholder="性别" name="Sex" class="col-xs-10 col-sm-5" required>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">性别：</label>
                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-5" style="padding: 0;">
                            <select class="form-control" name="SignPoint" ng-model="studentData.Sex" required>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 年龄： </label>

                    <div class="col-sm-9">
                        <input  type="text" ng-model="studentData.Age" placeholder="年龄" name="Age" class="col-xs-10 col-sm-5" required>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" > 电话： </label>

                    <div class="col-sm-9">
                        <input type="text" ng-model="studentData.Phone" id="phoneInput" placeholder="电话" name="Phone" class="col-xs-10 col-sm-5" required>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份证号： </label>

                    <div class="col-sm-9">
                        <input  type="text" ng-model="studentData.CardId" placeholder="身份证号" name="CardId" class="col-xs-10 col-sm-5" required>
                    </div>
                </div>
                <div class="space-4"></div>
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 照片： </label>

                    <div class="col-sm-9" style="padding:0px;">
                        <input type="file" ng-model="studentData.Photo" name="Photo" class="col-xs-10 col-sm-5">
                    </div>
                </div>-->
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">站点：</label>
                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-5" style="padding: 0;">
                            <select class="form-control" name="SignPoint" ng-model="studentData.SignPoint" required>
                                <option value="">请选择</option>
                                <option value="桂林">桂林</option>
                                <option value="深圳">深圳</option>
                                <option value="广州">广州</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <!--<div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">已交学费：</label>
                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-5" style="padding: 0;">
                            <select class="form-control" name="IsTuition" ng-model="studentData.IsTuition" required>
                                <option value="">请选择</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </div>
                </div>-->
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">报考类型：</label>
                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-5" style="padding: 0;">
                            <select class="form-control" name="SignDriving" ng-model="studentData.SignDriving" required>
                                <option value="">请选择</option>
                                <option value="A1">A1</option>
                                <option value="A2">A2</option>
                                <option value="A3">A3</option>
                                <option value="B1">B1</option>
                                <option value="B2">B2</option>
                                <option value="C1">C1</option>
                                <option value="C2">C2</option>
                                <option value="C3">C3</option>
                                <option value="C4">C4</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="M">M</option>
                                <option value="N">N</option>
                                <option value="P">P</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备注：</label>
                    <div class="col-sm-9">
                        <div class="col-xs-10 col-sm-5" style="padding: 0;">
                            <textarea ng-mode="studentData.Remarks" name="Remarks" class="autosize-transition form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 52px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            添加
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
